:root {
  font-family: KoddiUD OnGothic, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
  background-color: #fbda05;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "KoddiUD OnGothic";
  background: #fbda05;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
}

@font-face {
  font-family: "KoddiUD OnGothic";
  src: url("/fonts/KoddiUDOnGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoddiUD OnGothic";
  src: url("/fonts/KoddiUDOnGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoddiUD OnGothic";
  src: url("/fonts/KoddiUDOnGothic-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lab";
  src: url("/fonts/LABdigital.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
